
.loginformAndButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.container-padding-login{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    align-items: center;
    position: relative;
    .container-loader-login-form{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
}

.head_loginbox {
    border-bottom: solid 1px #d1d7dc;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    width: 100%;
    max-width: 380px;
    padding: 24px 64px 35px 24px;
    margin-bottom: 20px;
}


.google-button, .apple-button, .fb-button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: solid 1px #d1d7dc;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(28,29,31,.24),0 0 2px 0 rgba(28,29,31,.12);
    cursor: pointer;
    width: 100%;
    max-width: 332px;
    height: 48px;
    text-align: left;
    margin-bottom: 8px;
    padding-left: 10px;
}

.fb-button:hover, .google-button:hover, .apple-button:hover {
    color: #5624d0;
    background-color: #d1d7dcec;
}

#fblogo, #glogo, #aplogo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.redirect-signUp{
    font-family: $Noto-Sans;
    font-size: 16px;
    margin: 20px 0 40px 0;
    a{
        color: $main-purple;
        font-weight: 700;
        text-decoration: underline;
    }
}