.main-container-brose-now{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    .title-brose-now{
        font-size: 19px;
        font-weight: 700;
        font-family: $Noto-Sans;
        margin-bottom: 10px;
    }
    .info-brose-now{
        font-size: 16px;
        font-family: $Noto-Sans;
        .link-brose-now{
            color: $main-purple;
            font-weight: 700;
            font-size: $Noto-Sans;
            border-bottom: 1px solid $main-purple;
        }
    }
}
@media(max-width:530px){
    .main-container-brose-now{
        .title-brose-now{
            font-size: 16px;
            font-weight: 700;
            font-family: $Noto-Sans;
            margin-bottom: 10px;
        }
        .info-brose-now{
            font-size: 16px;
            font-family: $Noto-Sans;
            .link-brose-now{
                color: $main-purple;
                font-weight: 700;
                font-size: $Noto-Sans;
                border-bottom: 1px solid $main-purple;
            }
        }
    }
}