.main-container-bigLoader-udemy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: $white;
    .logo-bigLoader-udemy{
        width: 150px;
        margin-bottom: 10px;
    }
}