.signup-box {
    font-family: 'Noto Sans', sans-serif;
    margin: 24px auto;
    max-width: 100%;
    color: #1c1d1f;
    width: 352px;
}

.head_signupbox {
    font-weight: 700;
    font-size: 16px;
    margin: 30px 0 20px 0;
    padding-top: 24px;
}

.su-name-box, .su-mail-box, .su-pass-box {
    margin-bottom: 8px;
    font-size: 14px;
    border: solid 1px black;
    width: 352px;
    height: 62px;
    padding-left: 10px;
}

#su-name, #su-mail, #su-pass{
    font-size: 18px;
    border: 0px;
    padding-top: 5px;
    padding-left: 10px;
    height: 48px;
    outline: none;
}

.su-checkbox {
    margin: 30px 0 15px 0;
    font-size: 14px;
    font-weight: 400;
    display: flex;
}

.su-checkbox label{
    margin-left: 10px;
}

.signup-button {
    background-color: #a435f0;
    cursor: pointer;
    margin-bottom: 8px;
    margin-left: 12;
    width: 364px;
    height: 48px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    border: solid 1px transparent;
    margin-bottom: 16px;
}

.signup-button:hover {
    background-color: #7b29b2;
}


.agreeTerms {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin-bottom: 32px;
}

.agreeTerms a {
    color:#1c1d1f;
}

.agreeTerms a:hover {
    color:#331778;
}

.alreadyAccount {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.alreadyAccount a {
    color: #5624d0;
    font-weight: 700;
    font-size: 13px;
}

.alreadyAccount a:hover {
    color: #331778 ;
}
