@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@700&display=swap');
$Noto-Sans:'Noto Sans', sans-serif;
$Noto-Serif-Georgian:'Noto Serif Georgian', serif;
$main-purple:#5624d0;
