.main-container-manage-goals{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #d1d7dc;
    max-width: 1030px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
    .container-manage-goals{
        padding: 48px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        .p-manage-goals{
            font-size: $Noto-Sans;
            font-size: 16px;
            line-height: 1.4;
            max-width: 800px;
        }
    }
}