* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signup{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

}
.signup__title {
  font-weight: 800;
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  width: 100%;
  height: 21.45px;
  margin-bottom: 16px;
}

.signup-container{
  width: 22rem;
  max-width: 100%;
  padding: 1rem 15px 4.8rem 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  .container-loader-signup-form{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -90px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
}


.signup__form {
  margin-top: 25px;
  width: 352px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.form__square--item{
  width: 352px;
  height: 62px;
  margin-bottom: 10px;
  border: 1px solid #1c1d1f;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.formsignup__title{
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  width: 352px;
  height: 15px;
  padding: 5px 10px 0px 10px;
}

.signup-imput{
  border:none;
  outline-width: 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  width: 352px;
  padding: 0px 10px 2px 10px;
}

.signup-aditional-info{
  width: 352px;
  height: 40px;
  padding: 8px 8px 8px 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  input {
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 10px;
  }
}
.special-offers-text{
  width: 250px;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
}



.special-offers-text{
  font-size: small;
}

.singup-button {
  background-color: #a435f0;
  cursor: pointer;
  width: 352px;
  height: 48px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  border: solid 1px transparent;
  margin-bottom: 25px;
}

.redirect-login__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  border-top: solid 1px #d1d7dc;
  padding-top: 20px;
}

.redirect-login {
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  a {
    color: #5624d0;
  }
}
