<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses - Learn Anything, On Your Schedule | Udemy</title>
    <link rel="shortcut icon" href="https://www.udemy.com/staticx/udemy/images/v8/favicon-32x32.png">
    <script src="https://kit.fontawesome.com/67221adbab.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./home.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif+Georgian:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav">
            <div class="nav-container-phone">
            <button class="button-hamburguer"><i class="fa-solid fa-bars"></i></button>
            <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" class="img-nav">
            <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="button-shopping"><i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            <div class="nav-container-desktop">
                <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" class="img-nav">
                <button class="button-categories">Categories</button>
                <form action="#">
                    <button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="search" name="" id="" placeholder="Search for anything">
                </form>
                <button class="button-Tech">Teach on Udemy</button>
                <button class="button-shopping"><i class="fa-solid fa-cart-shopping"></i></button>
                <button class="login-nav">Log in</button>
                <button class="Sing-up-nav">Sign up</button>
            </div>

        </nav>
    </header>
    <main>
        <section class="main-search-container">
            <img src="https://img-c.udemycdn.com/notices/web_banner/slide_1_image_responsive_udlite/d41a08e8-d9de-44e5-8847-9fd35e929c9d.png" alt="">
            <div class="info-main-search">
                <h2>Save big. Learn big.</h2>
                <p>Shop our big sale for courses from COL$34,900.If you want to learn it chances are we` ve go it.Ends Aug.31</p>
                <button><span>What do you want to learn?</span><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </section>
        <section class="main-selection-courses">
            <h2>A broad selection of courses</h2>
            <p>Choose from 204,000 online video courses with new additions published every month</p>
            <div class="main-selection-courses-courses">
                <div>
                    <p>Python</p> <i class="fa-solid fa-angle-down"></i>
                </div>
                <div>
                    <p>Excel</p> <i class="fa-solid fa-angle-down"></i>
                </div>
                <div>
                    <p>Web Development</p> <i class="fa-solid fa-angle-down"></i>
                </div>
                <div>
                    <p>JavaScript</p> <i class="fa-solid fa-angle-down"></i>
                </div>
                <div>
                    <p>Data Science</p> <i class="fa-solid fa-angle-down"></i>
                </div>
                <div>
                    <p>AWS Certification</p> <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="div-course-finish">
                    <p>Drawing</p> <i class="fa-solid fa-angle-down"></i>
                </div>

            </div>
            <div class="info-courses">
                <h2>Expand your career opportunities with Python</h2>
                <p>Take one of Udemy’s range of Python courses and learn how to code using this incredibly useful language. Its simple syntax and readability makes Python perfect for Flask, Django, data science, and machine learning. You’ll learn how to build everything from games to sites to apps. Choose from a range of courses that will appeal to...</p>
                <button class="Explore">Explore Python</button>
                <div class="carousel-courses">

                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/240x135/394676_ce3d_5.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$24,900</p>
                                <p class="last-price-course">COL$140,000</p>
                            </div>
                        </div>
                    </div>

                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/240x135/405878_e5a0_3.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$56,900</p>
                                <p class="last-price-course">COL$190,000</p>
                            </div>
                        </div>
                    </div>

                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/240x135/449532_2aa9_7.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$14,900</p>
                                <p class="last-price-course">COL$270,000</p>
                            </div>
                        </div>
                    </div>

                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/480x270/519554_da68_6.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$23,900</p>
                                <p class="last-price-course">COL$170,000</p>
                            </div>
                        </div>
                    </div>

                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/480x270/543600_64d1_4.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$14,900</p>
                                <p class="last-price-course">COL$90,000</p>
                            </div>
                        </div>
                    </div>


                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/240x135/405878_e5a0_3.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$44,900</p>
                                <p class="last-price-course">COL$70,000</p>
                            </div>
                        </div>
                    </div>


                    <div class="container-info-course">
                        <div class="container-img-course">
                            <img src="https://img-c.udemycdn.com/course/240x135/396876_cc92_7.jpg" alt="">
                        </div>
                        <div class="container-description-course">
                            <h2 class="title-course">Learn Python: The Complete Python Programming Course</h2>
                            <p class="create-course">Jhon Dou</p>
                            <div class="prices-course">
                                <p class="price-course">COL$44,900</p>
                                <p class="last-price-course">COL$70,000</p>
                            </div>
                        </div>
                    </div>



                </div>
                <button class="button-left"><i class="fa-solid fa-angle-left"></i></button>
                <button class="button-right"><i class="fa-solid fa-angle-right"></i></button>
            </div>
        </section>
        <section class="top-categories">
            <h2>Top categories</h2>
            <div class="top-categories-container">
                <div>
                    <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-2x-v2.jpg">
                    <a href="#">Design</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-2x-v2.jpg" alt=""><a href="#">Development</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-2x-v2.jpg" alt=""><a href="#">Marketing</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-2x-v2.jpg" alt=""><a href="#">IT and Software</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-2x-v2.jpg" alt=""><a href="#">Personal Development</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-2x-v2.jpg" alt=""><a href="#">Business</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-2x-v2.jpg" alt=""><a href="#">Photography</a></div>
                <div><img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-2x-v2.jpg" alt=""><a href="#">Music</a></div>
            </div>
        </section>
        <section class="become-instructor">
            <div class="img-instructor">
                <img src="https://s.udemycdn.com/home/non-student-cta/instructor-mobile-v3.jpg" alt="">
            </div>
            <div class="info-instructor">
                <h2>Become an Instructor</h2>
                <p>Instructors from around the world teach millions of students on Udemy. We provide the tools and skills to teach what you love</p>
                <button>Start teaching today</button>
            </div>
        </section>
        <section class="trusted-companies">
            <h2>Trusted by companies of all sizes</h2>
            <div class="companies-img">
                <img src="https://s.udemycdn.com/partner-logos/v4/nasdaq-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/netapp-dark.svg" alt="">
                <img src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg" alt="">
            </div>
        </section>
    </main>
</body>
</html>
