*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
main {
    height: 500px;
}
footer {
    padding: 20px;
    background-color: #1c1d1f;
    color: white;
    border-top: 1px solid #3e4143;
    font-size: 14px;
    position: relative;
    bottom: 0;
}

footer .f1,.f2{
    display: flex;
    justify-content: space-between;
}
footer .f1 .box {
    line-height: 2;
}
.f2{
/*     display: flex;
    justify-content: space-between; */
    margin-top: 30px;
    margin: 1px solid red;
    font-size: 12px;
}
.box.lang{
    display: flex;
    justify-content: flex-end;
    flex-basis: 20%;
}
.box.lang:hover{
    background-color: rgba(1,2,3,.1);
}
.box.lang .both{
    border: 1px solid white;
    height: fit-content;
    display: flex;
    padding: 10px;
    font-size: 16px;
}
