.main-container-course{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px;

    gap: 8px;
    &:hover .main-container-hover-course{
        bottom: 0;
    } 
    img{
        width: 100%;
        object-fit: cover;
    }
    .course-title{
        color: $black;
        h3{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            font-size: 16px;
            font-family: $Noto-Sans;
        }
    }
    .course-teacher{
        font-size: 12px;
        font-family: $Noto-Sans;
        color: gray;
    }
    .course-price{
        font-family: $Noto-Sans;
        font-size: 16px;
        font-weight: 700;
    }
    .container-rating-course{
        display: flex;
        flex-direction: row;
        .course-number-rating{
            color:#b4690e;
            font-family: $Noto-Sans;
            font-weight: 700;
            margin-right: 4px;
            font-size: 14px;
        }
    }
    
    .widget{
            stroke: #e59819;
            stroke-width: 4px;
            stroke-dasharray: 2,2;
            stroke-linejoin: round;
    }
    .main-container-hover-course{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: -370px;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-height: 100%;
        transition: bottom 0.5s ease;
        @media (max-width: 800px){
            display: none;
        }
        

        .container-hover-course{
            justify-content: space-between;
            border: 1px solid #d1d7dc;
            display: flex;
            height: 100%;
            max-height: 100%;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
            background-color: white;
            
            .title-hover-course{
                color: $black;
                font-size: 16px;
                font-family: $Noto-Sans;
                &:hover{
                    color: $main-purple;
                }
            }
            .date-update-course{
                font-size: 12px;
                color: #1e6055;
                font-family: $Noto-Sans;
            }
            .subtitle-course{
                font-size: 12px;
                font-family: $Noto-Sans;
                color: gray;
            }
            .description-course{
                font-size: 14px;
                font-family: $Noto-Sans;

            }
            .container-add-favorite-course{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: center;
                justify-content: space-between;
                .btn-add-cart-course{
                    background-color: #a435f0;
                    color: $white;
                    height: 100%;
                    font-family: $Noto-Sans;
                    width: 70%;
                    font-weight: 700;
                    font-size: 18px;
                    cursor: pointer;
                    border: none;

                    &:hover{
                        background-color: #8710d8;
                    }
                    
                }
                .btn-course-in-your-shop{
                    pointer-events: none;
                    cursor: none;
                }
                .btn-favorite-course{
                    cursor: pointer;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }
        }
    }

    
}