.main-container-learn-in-your-course{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .title-learn-in-your-course{
        font-family: $Noto-Sans;
        font-weight: 700;
        font-size: 16px;
        padding: 0;
        margin-bottom: 8px;
    }
    .info-learn-in-your-course{
        font-family: $Noto-Sans;
        font-size: 16px;
        max-width: 800px;
        margin-bottom: 8px;
        line-height: 1.4;
    }
    .add-input-learn-in-your-course{
        width: max-content;
        background-color: $white;
        color: $main-purple;
        border: none;
        font-family: $Noto-Sans;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        cursor: pointer;
        

        svg{
            margin-right: 4px;
            font-size: 24px;
        }
    }
    .container-learn-in-your-course{
        display: flex;
        flex-direction: column;
        .drag-drop-input{
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 800px;
            margin: 0 0 16px 0;
        }
    }
}