@import './styles/abstracts/variables.scss';
@import './styles/base/resets.scss';
@import './components/Nav/index.scss';
@import './components/Nav/options.scss';
@import './components/Nav/Hamburguer.scss';
@import './components/TitleHeading/index.scss';
@import './components/AlternateHeadline/index.scss';
@import './components/TopCategoriesHome/index.scss';
@import './components/TopCategoriesHome/ImageTitle.scss';
@import './components/BecomeInstructorHome/index.scss';
@import './components/SelectionOfCourses/index.scss';
@import './components/SelectionOfCourses/Courses.scss';
@import './components/SelectionOfCourses/Course.scss';
@import './components/SelectionOfCourses/ButtonArrow.scss';
body {
  margin: 0;
  font-family: $Noto-Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
