.main-container-title-manage-course{
    width: 100%;
    padding: 24px 48px;
    border-bottom: 1px solid #d1d7dc;
    .title-manage-course{
        font-size: 28px;
        font-family: $Noto-Serif-Georgian;
    }
}