
.nav-opacity{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    right: 0;
    z-index: 998;
    opacity: 0.75;
    transition: opacity 100ms linear, transform 0ms linear 100ms;

}
.nav-hamburguer{
    position: absolute;
    height: 100%;
    z-index: 999;
    width: 248px;
    background-color: $white;
    opacity: 1;
    left: 0;
    display: flex;
    flex-direction: column;
    top: 0;
    .container-nav-user-hamburguer{
        border-bottom: 1px solid grey;
    }
    .nav-hamburguer-learnig{
        display: flex;
        flex-direction: column;
        p{
        font-size: 16px;
         font-weight: 400;
        color: $black;
        padding:  8px 16px;
        opacity: 0.7;
        }
    }
    .nav-user-hamburguer{
        padding: 16px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        .nav-user{
            display: flex;
            font-family: $Noto-Sans;
            font-weight: 700;
            font-size: 24px;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            background-color: $black;
        }
        .info-user-nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 16px;
            text-align: justify;
            font-weight: 700;
            p{
                font-size: 14px;
                opacity: 0.5;
            }
        }

    }
    .register-nav-hamburguer{
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-bottom: 1px solid grey;
        p{
            font-size: 16px;
            color: $main-purple;
            padding: 8px 0;
        }
    }
}
.nav-close{
    position: absolute;
    width: 48px;
    height: 48px;
    color: $black;
    top: 10;
    left: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 999;
    background-color: $white;
    font-size: 24px;
    svg{
        pointer-events: none;
    }
}

// p{
//     font-size: 16px;
//     font-weight: 700;
//     color: $black;
//     opacity: 0.5;
// }