@keyframes opacidad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.nav-main-options{
    position: absolute;
    top: 72px;
    left: 120px;
    display: flex;
    flex-direction: column;
    animation-name: opacidad;
    animation-duration: 0.3s;
    animation-direction: normal;
    .nav-path{
        width: 100%;
        height: 6px;
        display: block;
        background-color: transparent;
    }
    .nav-options-visible{
        background-color: $white;
        min-width: 260px;
        height: max-content;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 18px 0;
        border: 1px solid #D5D8DC  ;
    }
}
.nav-main-ul{
    width: 100%;
}
.main-container{
    display: flex;
    flex-direction: row;
    color: $black;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    padding: 0 16px;
    align-items: center;
    font-weight: 400;
    &:hover{
        color: $main-purple;
    }
    .main-li{
        font-size: 14px;
        padding: 8px 0;
    }
}



